@charset "UTF-8";


body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;}

html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #343a40;
}

#h{
	height:5%;
	background-color: #808A87;
}
#head{
	height: 100%;
	width: auto;
}
#main {
	height :100%;
}

#main-in{
	height :95%;
}

#left {
	height: 100%;
	background-image: url('/img/bg3.jpg');
}

#iframe {
	height: 99%;
	background-color: #343a40;
}

#main {
	width:100%;
}

.func{
	display: none;
}

.icon{
	text-align: center;
}



#wrongCus{
	diplay :none;
}

#wrh{
	padding-left: 17%;
}


.func {
	padding-top: 9%
}

.r {
	margin-bottom: 5%;
}

.i{
	margin-bottom: 3%;
	padding-top: 3%
}
.input-group-text{
	font-size: 90%;
}

.pick{
	display: none;
}