@charset "UTF-8";


body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;}

html{
	height: 100%;
}
body{
	height: 100%;
}

#h{
	height:10%;
}

#main {
	height :87%;
}

#main-in{
	height :100%;
}

#left {
	height: 100%;
}

#iframe {
	height: 100%;
}

#main {
	width:100%;
}

.func{
	display: none;
}

.icon{
	height:5%;
	text-align: center;
}

.icon img{
	width: 100%;
	height: auto;
}

#wrongCus{
	diplay :none;
}

#wrh{
	padding-left: 20%;
}


.func {
	padding-top: 15%
}

