@charset "UTF-8";
html{
	height: 100%
}
body{
	height: 100%;
	background-color: #343a40;
}



.container-fluid{
	padding-top:3%;
	height: 100%
}


.mainrow{
	height: 100%
}

.tableDiv {
	height: 100%;
	margin-bottom: 2%
}

.tablerow{
	height: 80%;
	overflow-y:auto;
	margin-bottom: 2%
}

table {
	text-align: center;
	font-size: 90%;
}

.table tbody .head td{
	border: 0px;
}

body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;}