<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<script type="text/javascript">
function save(){
	$.ajax({
		url : 'saveSupplier',
		data : {
			"supid" : $("#supid").val(),
			"supname" : $("#supname").val(),
			"supphone" : $("#supphone").val(),
			"suptitle" : $("#suptitle").val(),
			"suptaxnumber" : $("#suptaxnumber").val(),
			"supaddress" : $("#supaddress").val(),
		},
		dataType : 'html',
		error : function() {
			alert("尚有資料未填寫完全")
		},
		success : function(data) {
			alert(data);
			$("#iframe").html('<iframe src="/addSupplier" frameborder="no" width="100%" height="100%">');
		},
		type : 'POST'
	});
}
</script>
</head>
<body>
廠商代號:<input name="supid" id="supid"><br>
廠商名稱:<input name="supname" id="supname"><br>
廠商電話:<input name="supphone" id="supphone"><br>
發票抬頭:<input name="suptitle" id="suptitle"><br>
統一編號:<input name="suptaxnumber" id="suptaxnumber"><br>
廠商地址:<input name="supaddress" id="supaddress"><br>
<button onclick="save()">確認儲存</button>
</body>
</html>