<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>詳細資料</title>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<style type="text/css">
	table{
		width :80%;
		text-align: center;
	}
</style>
<script type="text/javascript">
function saveAlter(){
	$.ajax({
		url: "/saveAlterCustomer",
		data:{
			"id" : $("#id").val(),
			"lichenid" : $("#lichenid").val(),
			"storename" : $("#storename").val(),
			"storephone" : $("#storephone").val(),
			"shopmanager" : $("#shopmanager").val(),
			"shopmanagerphone" : $("#shopmanagerphone").val(),
			"storeaddress" : $("#storeaddress").val(),
			"depositoryaddress" : $("#depositoryaddress").val()
		},
		dataType: 'html',
		error: function() {
			alert("資訊未輸入完全");
		},
		success: function(data) {
			alert(data);
		
		},
		type: 'GET'
		
	})
}

function reload(){
	$.ajax({
		url:"/getSession",
		dataType: 'html',
		type: 'GET',
		data:{
			"id" : $("#id").val()
		},
		error: function() {
			alert("系統錯誤")
		},
		success: function(data) {
			location.reload(true);
		}
	});
}

</script>
</head>
<body>
		<input id="id" type="text" th:value="${session.customer.id}" style="display:none"></input>
		客戶代號:<input type="text" id="lichenid" th:value="${session.customer.lichenid}"></input><br>
		客戶名稱:<input type="text" id="storename" th:value="${session.customer.storename}"></input><br>
		門市電話:<input type="text" id="storephone" th:value="${session.customer.storephone}"></input><br>
		店長姓名:<input type="text" id="shopmanager" th:value="${session.customer.shopmanager}"></input><br>
		店長電話:<input type="text" id="shopmanagerphone" th:value="${session.customer.shopmanagerphone}"></input><br>
		門市地址:<input type="text" id="storeaddress" th:value="${session.customer.storeaddress}"></input><br>
		送貨地址:<input type="text" id="depositoryaddress" th:value="${session.customer.depositoryaddress}"></input><br>
		<br>
		<br>
		<button onclick="saveAlter()">儲存變更</button>
		<br>
		<br>
		發票資訊:
		<table>
		<tr>
			<th/>
			<th>發票抬頭</th>
			<th>統一編號</th>
			<th>發票地址</th>
		</tr>
		<tr th:each="i : ${session.customer.invoiceInfo}">
			<td>
			<a th:href="@{/deleteInvoiceInfo(id=${i.id},cid=${i.cid})}">移除</a>
			</td>
			<td th:text="${i.invoiceTitle}"/> 
			<td th:text="${i.txIDNumber}"/> 
			<td th:text="${i.invoiceAddress}"/> 
		</tr>
		<tr/>
		<tr>
			<td ><a href="javascript:void(0)" onclick="window.open('/addInvoiceInfo','新增發票訊息','height=150,width=280')">新增</a></td>	
		</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<button onclick="location.href='/detailCustomer'">返回詳細資料</button>
</body>
</html>