<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>詳細資料</title>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/alterCustomer.js" charset="utf-8"></script>
<style type="text/css">
	table{
		width :80%;
		text-align: center;
	}
</style>
</head>
<body>
		<input id="id" type="text" th:value="${session.customer.id}" style="display:none"></input>
		<input id="searchCus" type="text" th:value="${session.searchCus}" style="display:none"></input>
		客戶代號:<input type="text" id="lichenid" th:value="${session.customer.lichenid}"></input><br>
		客戶名稱:<input type="text" id="storename" th:value="${session.customer.storename}"></input><br>
		門市電話:<input type="text" id="storephone" th:value="${session.customer.storephone}"></input><br>
		店長姓名:<input type="text" id="shopmanager" th:value="${session.customer.shopmanager}"></input><br>
		店長電話:<input type="text" id="shopmanagerphone" th:value="${session.customer.shopmanagerphone}"></input><br>
		門市地址:<input type="text" id="storeaddress" th:value="${session.customer.storeaddress}"></input><br>
		送貨地址:<input type="text" id="depositoryaddress" th:value="${session.customer.depositoryaddress}"></input><br>
		<br>
		<br>
		<button onclick="saveAlter()">儲存變更</button>
		<br>
		<br>
		發票資訊:
		<table>
		<tr>
			<th/>
			<th>發票抬頭</th>
			<th>統一編號</th>
			<th>發票地址</th>
		</tr>
		<tr th:each="i : ${session.customer.invoiceInfo}">
			<td>
			<button th:id="${i.id}" th:value="${i.cid}" onclick="deleteInvoiceInfo(this)">移除</button>
			</td>
			<td th:text="${i.invoiceTitle}"/> 
			<td th:text="${i.txIDNumber}"/> 
			<td th:text="${i.invoiceAddress}"/> 
		</tr>
		<tr/>
		<tr>
			<td ><a href="javascript:void(0)" onclick="window.open('/addInvoiceInfo','新增發票訊息','height=150,width=280')">新增</a></td>	
		</tr>
		</table>
		<br>
		<br>
		<button onclick="deleteCustomer()">刪除客戶</button>
		<br>
		<br>
		<button onclick="location.href='/showCustomer'">返回</button>
</body>
</html>