<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>利成發票系統</title>
<link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
<link rel="bookmark" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="/js/index.js"></script>

</head>
<body>
	<div class="container-fluid" id="main">
		<div class="row"id="h">
			<img id="head" src="/img/logo.png">
		</div>
		<div class="row " id="main-in">
			<div id="left" class="col-12 col-md-3 container mb-5">
				<div class="row justify-content-around i">
					<div class="icon col-4 " id="a">
						<a href="JavaScript:" onclick="toInvoice()"><img class="img-fluid nopick" src="/img/invoice-icon.png"></a>
						<a href="JavaScript:" onclick="toInvoice()"><img  class="img-fluid pick" src="/img/invoice-icon-pick.png"></a>
					</div>
					<div class="icon col-4" id="b">
						<a href="JavaScript:" onclick="toIncomeInvoice()"><img class="img-fluid nopick" src="/img/income-invoice-icon.png"></a>
						<a href="JavaScript:" onclick="toIncomeInvoice()"><img  class="img-fluid pick" src="/img/income-invoice-icon-pick.png"></a>
					</div>
					<div class="icon col-4" id="c">
						<a href="JavaScript:" onclick="toReport()"><img class="img-fluid nopick"	src="/img/report-icon.png">	</a>
						<a href="JavaScript:" onclick="toReport()"><img   class="img-fluid pick"	src="/img/report-icon-pick.png"></a>
					</div>
				</div>
				<div class="row justify-content-around i" >
					<div class="icon col-4" id="d">
						<a href="JavaScript:" onclick="toCustomer()"><img class="img-fluid nopick"	src="/img/cus-icon.png"></a> 
						<a href="JavaScript:" onclick="toCustomer()"><img   class="img-fluid pick"	src="/img/cus-icon-pick.png"></a> 
					</div>
					<div class="icon col-4" id="e">
						<a href="JavaScript:" onclick="toSupplier()"><img class="img-fluid nopick"	src="/img/sup-icon.png"></a>
						<a href="JavaScript:" onclick="toSupplier()"><img  class="img-fluid pick"	src="/img/sup-icon-pick.png"></a>
					</div>
					<div class="icon col-4" id="f">
						<a href="JavaScript:" onclick="toItem()"><img class="img-fluid nopick"	src="/img/item-icon.png"></a>
						<a href="JavaScript:" onclick="toItem()"><img class="img-fluid pick"	src="/img/item-icon-pick.png"></a>
					</div>
				</div>
				
				
				<div id="invoice" class="func">
					<div class="row justify-content-center r1" >
						<h5><span class="badge bg-secondary  text-white">銷項發票列印與儲存</span></h5>
					</div>
					<div class="input-group r1">
						<span class="input-group-text" id="basic-addon1">客戶代號</span> 
						<input  type="text" name="lichenid" id="lichenid" class="form-control" 
							aria-label="客戶編號" aria-describedby="basic-addon1" autocomplete="off" onkeyup="getTitle()" onkeydown="_key()" oninput="this.value=this.value.replace(/^\s+|\s+$/g,'')">
					</div>
					
					
					<h6 class="r1" id="wrh"><span id="wrongCus" class="badge badge-pill badge-danger">查無此客戶</span></h6>
					
					<div class="input-group  r1">
  						<label class="input-group-text" for="seltitle" >統編抬頭</label>
						<select id="seltitle" class="custom-select"  >
						</select> 
					</div>
					
				
					<div class="input-group  r1">
  						<label class="input-group-text" for="selitem" >發票品項</label>
						<select id="selitem" class="custom-select"  >
						</select> 
					</div>
					
				
					<div class="input-group r1">
						<span class="input-group-text" id="basic-addon2">未稅金額</span> 
						<input  type="text" name="taxExclude" id="taxExclude" class="form-control" 
							aria-label="未稅金額" aria-describedby="basic-addon2 button-addon1" autocomplete="off" onkeydown="_key()" oninput ="value=value.replace(/[^\d]/g,'')">
					</div>
					
					<div id="invoiceNumberBox" class="input-group justify-content-center r1">
					</div>
					<div class="input-group  justify-content-end r1">
						<button class="btn btn-secondary" type="button" id="button-addon1" onclick="getInvoice()">輸入</button>
					</div>
					
				</div>

				<div id="income-invoice" class="func">
					<div class="row justify-content-center r" >
						<h3><span class="badge bg-secondary  text-white">進項發票匯入</span></h3>
					</div>
				
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-b1">廠商統編</span> 
						<input  type="text" name="suptaxnumber" id="suptaxnumber" class="form-control" 
							aria-label="廠商統編" aria-describedby="basic-addon-b1" autocomplete="off"  oninput ="value=value.replace(/[^\d]/g,'')" maxlength="8">
					</div>
					
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-b4">發票號碼</span> 
						 <input type="text" class="form-control col-2" id="incomeInvoiceHead" oninput ="value=value.replace(/[^a-zA-Z]/g,'');this.value = this.value.toUpperCase();" maxlength="2">
 						 <span class="input-group-text">-</span>
  						 <input type="text" class="form-control" id="incomeInvoiceNum" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="8" >
					</div>
					
					<div class="input-group  r">
						<span class="input-group-text" id="basic-addon-b2">發票開立時間</span> 
						<input  type="date" name="time" id="time" class="form-control" 
							aria-label="發票開立時間" aria-describedby="basic-addon-b2" autocomplete="off" />
					</div>
					
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-b3">未稅金額</span> 
						<input  type="text" name="incomeTaxExclude" id="incomeTaxExclude" class="form-control" 
							aria-label="未稅金額" autocomplete="off" onkeydown="_key2()" oninput ="value=value.replace(/[^\d]/g,'')">
					</div>
					
					
					<div class="input-group justify-content-end r">
						<button class="btn btn-secondary" type="button" id="button-addon-b3" onclick="getIncomeInvoice()">輸入</button>
					</div>
				</div>
				
				
				<div id="report" class="func container">
					<div class="row justify-content-center r" >
						<h3><span class="badge bg-secondary  text-white">紀錄查詢</span></h3>
					</div>
					
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-c1">開始統計時間</span> 
						<input  type="date" name="startTime" id="startTime" class="form-control" 
							aria-label="開始統計時間" aria-describedby="basic-addon-c1" autocomplete="off" />
					</div>
					
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-c2">結束統計時間</span> 
						<input  type="date" name="endTime" id="endTime" class="form-control" 
							aria-label="結束統計時間" aria-describedby="basic-addon-c2" autocomplete="off" onkeydown="_key3()" />
					</div>
					
					<div class="input-group justify-content-end r">
						<button type="button" class="btn btn-secondary" onclick="searchReport()">搜尋</button>
					</div>
				</div>
				
				
				
				<div id="customer" class="func">
					<div class="row justify-content-center r ">
						<button type="button" class="col-8 btn-lg btn-secondary btn-block" onclick="addCustomer()">新&nbsp;&nbsp;建&nbsp;&nbsp;客&nbsp;&nbsp;戶</button>
					</div>
					<div class="row justify-content-center r">
						<button type="button" class="col-8 btn-lg btn-secondary btn-block" onclick="addInvoiceInfo()">新&nbsp;建&nbsp;發&nbsp;票&nbsp;訊&nbsp;息</button>
					</div>
					<div class="row justify-content-center r">
						<button type="button" class="col-8 btn-lg btn-secondary btn-block" onclick="selectAllCus()">客&nbsp;&nbsp;戶&nbsp;&nbsp;列&nbsp;&nbsp;表</button>
					</div>
					
					<div class="input-group r ">
						<span class="input-group-text" id="basic-addon-d1">客戶搜尋</span> 
						<input  type="text" name="searchCus" id="searchCus" class="form-control " placeholder="代號、統編或名稱"
							aria-label="代號、統編或名稱" aria-describedby="basic-addon-d1 button-addon-d1" autocomplete="off" onkeydown="_key4()">
						<button class="btn btn-secondary" type="button" id="button-addon-d1" onclick="searchCus()">搜尋</button>
					</div>
					
				</div>
				<div id="supplier" class="func">
				
				
				<div class="row justify-content-center  r">
					<button type="button" class="col-8 btn-lg btn-secondary btn-block" onclick="addSupplier()">新&nbsp;&nbsp;建&nbsp;&nbsp;廠&nbsp;&nbsp;商</button>
				</div>
				<div class="row justify-content-center r ">	
					<button type="button" class="col-8 btn-lg btn-secondary btn-block" onclick="selectAllSup()">廠&nbsp;&nbsp;商&nbsp;&nbsp;列&nbsp;&nbsp;表</button>
				</div>	
					
					<div class="input-group r">
						<span class="input-group-text" id="basic-addon-e1">廠商搜尋</span> 
						<input  type="text" name="searchSup" id="searchSup" class="form-control " placeholder="代號、統編或名稱"
							aria-label="請輸入廠商代號、統編或廠商名稱" aria-describedby="basic-addon-e1 button-addon-e1" autocomplete="off" onkeydown="_key5()">
						<button class="btn btn-secondary" type="button" id="button-addon-e1" onclick="searchSup()">搜尋</button>
					</div>
				</div>
			
			</div>
			<div id="iframe" class="col-12 col-md-9" bgcolor="#343a40"></div>
		</div>
	</div>
</body>
</html>