<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/jquery-loading-master/dist/jquery.loading.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/css/invoice.css" >
<script type="text/javascript">
function save(){
	parent.$( "body" ).loading();
	$.ajax({
		url : 'saveInvoice',
		data : {
		},
		dataType : 'html',
		error : function() {
			alert("系統錯誤")
		},
		success : function(data) {
			alert(data);
			parent.$( "body" ).loading( "stop" )
			parent.toInvoice();
			parent.$("#iframe").html("");
		},
		type : 'POST'
	});
}
</script>
</head>
<body>
	<div class="no-print" id="main">
			<div id="back">
				<img id="papper" src="/img/invoice-papper.png"/>
				<span id="number" th:text="${session.invoice.invoiceHead}+'-'+${session.invoice.invoiceNum}"></span>
				<span id="time" class="font11"th:text="${#dates.format(session.invoice.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
				<span id="title"class="font12" th:text="${session.invoice.info.invoiceTitle}"></span>
				<span id="txNumber" class="font12" th:text="'統一編號:'+${session.invoice.info.txIDNumber}"></span>
				<span id="item" class="font12" th:text="${session.invoice.invoiceItem.name}"></span>
				<span id="total" class="font12" th:text="${session.invoice.taxexclude}"></span>
				<span id="taxEx" class="font12" th:text="${session.invoice.taxexclude}"></span>
				<span id="tax" class="font12" th:text="${session.invoice.tax}"></span>
				<span id="taxIn" class="font12" th:text="${session.invoice.taxinclude}"></span>
			</div>
				<div class="no-print" id="bt">
					<button id="btn1" class="btn btn-success" onclick="save()" >列印發票並儲存</button>
				</div>
		</div>
	
	<div class="print">
		<span class="font11">利成塑膠廠</span><br>
		<span class="font11">台南市安南區怡安路二段500號</span><br>
		<span class="font11">統一編號:19709855 TEL:06-2475328</span><br>
		<span class="font11"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
		<span class="font11"th:text="${#dates.format(session.invoice.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
		<span class="font11">WP103S</span><br>
		<span class="font12">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
		<span class="font12" th:text="${session.invoice.info.invoiceTitle}"></span><br>
		<span class="font12"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
		<span class="font12">統一編號:</span><span class="font12" th:text="${session.invoice.info.txIDNumber}"></span><br>
		<br>
		<span class="font12">品名____________數量________金額</span><br>
		<span class="font12" th:text="${session.invoice.invoiceItem.name}"></span>
		<span class="font12">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </span>
		<span class="font12">1</span>
		<span class="font12">&nbsp; &nbsp; &nbsp; &nbsp;</span>
		<span class="font12" id="tot" th:text="${session.invoice.taxexclude}" ></span>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<span class="font12">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span >
		<span class="font12" th:text="${session.invoice.taxexclude}"></span><br>
		<span class="font12">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
		<span class="font12" th:text="${session.invoice.tax}"></span><br>
		<span class="font12">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
		<span class="font12" th:text="${session.invoice.taxinclude}"></span><br>
		 
	</div>
	
	
</body>
</html>