<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script type="text/javascript" src="/js/jquery-3.5.1.js" charset="utf-8"></script>
<style type="text/css">
table {
	width: 20%;
	text-align: center;
}
</style>
<script type="text/javascript" src="/js/invoice-item.js" charset="utf-8"></script>
</head>
<body>
	<table>
		<tr>
			<th></th>
			<th>品項名稱</th>
		</tr>
		<tr th:each="i : ${session.itemList}">
			<td><button th:id="${i.id}" onclick="deleteItem(this)">移除</button></td>
			<td th:text="${i.name}"></td>
		</tr>
		<tr>
			<td><button onclick="insertItem()">新增</button></td>
			<td><input id="newItem" autocomplete="off"></input></td>
		</tr>
	</table>
</body>
</html>