<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
th{
	font-size: 10%;
	width: 15%;
	text-align: center;
}
td{
	font-size: 10%;
	width: 15%;
	text-align: center;
}
</style>
</head>
<body>
<table >
	<tr>
		<th>廠商代碼</th>
		<th>廠商名稱</th>
		<th>發票抬頭</th>
		<th>統一編號</th>
		<th>廠商電話</th>
		<th>廠商地址</th>
	</tr>
	<tr th:each="s : ${session.supList}">
		<td th:text="${s.supid}"/> 
		<td th:text="${s.supname}"/> 
		<td th:text="${s.suptitle}"/> 
		<td th:text="${s.suptaxnumber}"/> 
		<td th:text="${s.supphone}"/> 
		<td th:text="${s.supaddress}"/> 
	</tr>
</table>
</body>
</html>