<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
table{
	width: 100%;
}

tr{
	font-size: 100%;
	width: 100%;
	text-align: center;
}

</style>
</head>
<body>
<table >
	<tr>
		<th/>
		<th>客戶代碼</th>
		<th>客戶名稱</th>
		<th>發票資訊</th>
		<th>門市電話</th>
		<th>店長姓名</th>
		<th>店長電話</th>
	</tr>
	
	<tr  th:each="c : ${session.cusList}">
		<td>
			<a th:href="@{/toDetailCustomer(lichenid=${c.lichenid})}">詳細資料/修改</a>
		</td>
		<td th:text="${c.lichenid}"/> 
		<td th:text="${c.storename}"/> 
		<td>
			<table>
				<tr th:each="i : ${c.invoiceInfo}">
					<td th:text="${i.invoiceTitle}+'&nbsp;:&nbsp;'+${i.txIDNumber}"/>
				</tr>
			</table>
		</td>
		<td th:text="${c.storephone}"/> 
		<td th:text="${c.shopmanager}"/> 
		<td th:text="${c.shopmanagerphone}"/> 
	</tr>
</table>
</body>
</html>